:root {
  --primary: #395f9d;
  --secondary: #212e74;
  --tertiary: #e16c73;
  --text: white;
  --alt-text: black;
  --font-heading: 
}

.navBar {
  background: rgb(57,95,157);
  background: linear-gradient(180deg, rgba(57,95,157,1) 0%, rgba(33,46,116,1) 100%);
  color: var(--text);
  display: flex;
  justify-content: space-between;
}

.leagueButton {
  margin: 5px;
  width: 4rem;
  min-height: 2rem;
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  text-align: center;
  color: var(--text);
  text-decoration: none;
  line-height: 2rem;
  transition: width 300ms ease-out, background-color 300ms linear;
}

.leagueButton:hover {
  width: 6rem;
  background-color: var(--secondary);
}

.firstLetterSpan {
  color: var(--tertiary)
}

.activeLeague {
  background-color: var(--secondary);
}

.header {
  margin-left: 1rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scoreCard {
  position: relative;
  background-color: var(--primary);
  color: white;

  display: flex;
  justify-content: space-between;

  width: 80%;
  max-width: 55rem;

  line-height: 1.5rem;
  padding: 5px;
  margin-bottom: 1rem;

  border: 3px solid var(--primary);
  transition: ease-in-out 100ms;
}

.scoreCard:hover {
  border: 3px solid var(--secondary);
}

.teamInfo {
  display: flex;
  gap: 1rem;
}

.card-line {
  position: absolute;
  bottom: 49%;
  left: .5%;
  background-color: var(--secondary);
  height: 1px;
  width: 99%;
}