:root {
  --primary: #0c143f;
  --secondary: #304fee;
  --text: white;
  --alt-text: black;
}

.navBar {
  background-color: var(--primary);
  color: var(--text);

  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--secondary);
}

.leagueButton {
  margin: 5px;
  width: 4rem;
  min-height: 2rem;
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  text-align: center;
  color: var(--text);
  text-decoration: none;
  line-height: 2rem;
}

.activeLeague {
  background-color: var(--secondary);
}

.header {
  margin-left: 1rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scoreCard {
  position: relative;
  background-color: var(--primary);
  color: white;

  display: flex;
  justify-content: space-between;

  width: 80%;
  max-width: 55rem;

  line-height: 1.5rem;
  padding: 5px;
  margin-bottom: 1rem;

  border: 3px solid var(--primary);
  transition: ease-in-out 100ms;
}

.scoreCard:hover {
  border: 3px solid var(--secondary);
}

.teamInfo {
  display: flex;
  gap: 1rem;
}

.card-line {
  position: absolute;
  bottom: 49%;
  left: .5%;
  background-color: var(--secondary);
  height: 1px;
  width: 99%;
}