:root {
  --navWidth:100vw;
  --navHeight:65px;
  --fullPageSize: calc(100vh - var(--navHeight));
}

* {
  margin:0px;
  padding:0px;
}

/* Nav styling. */
nav {
  width: var(--navWidth);
  height: var(--navHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
